*.class
*.pyc
*.pyo
.DS_Store
_notes
*.class
*.pyc
*.pyo
*._*
log-*
error-*
Thumbs.db
_webContent/prvdata/*
_webContent/tmp/*
_webContent/logs/*
_webContent/apps/*/env
pub/*
*.pid
*.env
sftp-config.json
sftp-config*.json
ftpsync.settings