<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /admin/preview

    # Redirect resource to public
    RewriteRule ^(assets|pub)/(.*)$ /$1/$2 [R,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
</IfModule>

DirectoryIndex index.php index.html
ErrorDocument 404 /admin/preview/index.php